footer {
  margin-top: auto; /* footer @ bottom */
  border-top: 1px solid var(--clr-tertiary);
}

.footer__container {
  height: 3rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer__container {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
